Backup-17-09-2025/My workflow 4.json
{"createdAt":"2025-09-15T03:48:52.770Z","updatedAt":"2025-09-15T11:36:42.000Z","id":"SlIiXU05lh9kN2ME","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1504,448],"id":"64b93f24-08d9-4d27-97d1-261602c2da93","name":"Telegram Trigger","webhookId":"f36856cf-80bb-43d6-a46e-80f17e4c7850","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2163d3e7-69d3-49fd-904b-2ebf1163ce5e","name":"bot id","value":"8014219327:AAFeE0nDg5LC2L954r3Dh4sN0W3g2EQtGNY","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,656],"id":"cd8e7df1-f76c-48e6-a489-da66256dd43c","name":"Bot ID"},{"parameters":{"url":"=https://api.telegram.org/bot{{ $json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1136,656],"id":"254f072f-7a2e-4082-b2ea-5bea5781944d","name":"Get Image ID"},{"parameters":{"url":"=https://api.telegram.org/file/bot{{ $('Bot ID').item.json['bot id'] }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-992,656],"id":"092da9eb-45d7-4c9c-97a7-5f64799da3c9","name":"HTTP Request"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"We are processing this image","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-784,656],"id":"2da29362-f795-4991-b3ef-d8da54b84976","name":"Send a text message","webhookId":"44ac82bd-d2e5-45a5-89fc-b578678073ed","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-576,656],"id":"41e9c23b-baff-4ade-ab95-feb5f6dc58b6","name":"Wait","webhookId":"1af6336b-c5c0-4be7-971f-45bd6f14074d"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $json.result.chat.id }}","message":"Are you sure to post this imge to social media?","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-368,656],"id":"397b56ee-feec-4b12-b574-78b612000dff","name":"Send message and wait for response","webhookId":"5bd53a2a-bffe-4c6d-b7c8-d204ff0bc7b3","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d87f1948-a92e-4b96-a689-99915d32d031"}],"combinator":"and"},"renameOutput":true,"outputKey":"Accept"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0affdddf-3f16-417d-84a2-48ab470d4096","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Declined"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,656],"id":"35dc972d-ecec-4c61-b311-48f41582e7e2","name":"Switch"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Image posted successfully","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[144,512],"id":"5c2cd64d-97db-476b-9f97-d17e1d4e633f","name":"Posted","webhookId":"cd4178c1-794f-4ca6-aebc-8e0c7d8dac32","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Image not posted","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,736],"id":"b1f868fc-0efa-4db8-97ca-e7490dcc0d07","name":"Declined","webhookId":"cd4178c1-794f-4ca6-aebc-8e0c7d8dac32","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Bot ID","type":"main","index":0}]]},"Get Image ID":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Posted","type":"main","index":0}],[{"node":"Declined","type":"main","index":0}]]},"Bot ID":{"main":[[{"node":"Get Image ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"431c94d3-3c86-453d-864e-42e4bd56bd42","triggerCount":0,"shared":[{"createdAt":"2025-09-15T03:48:52.778Z","updatedAt":"2025-09-15T03:48:52.778Z","role":"workflow:owner","workflowId":"SlIiXU05lh9kN2ME","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}