Backup-17-09-2025/My workflow 2.json
{"createdAt":"2025-09-13T16:29:54.958Z","updatedAt":"2025-09-15T03:36:31.000Z","id":"556HcHHHTblcNJt1","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=I am preeti Jha, I am a doctor im in sumandeep collage, i am a hemeopathic doctor.\n\nSchedule an Appointment\n\nAsk for patient details: Name, Age, Contact Number, Symptoms/Reason for Visit.\n\nAsk for preferred Date and Time.\n\nAsk for Department (e.g., Cardiology, General Medicine, Orthopedics, etc.) or Doctor's Name.\n\nCheck available time slots.\n\nConfirm the appointment and provide a summary.\n\nReschedule or Cancel an Appointment\n\nAsk for Patient ID or Appointment ID.\n\nAsk for new Date & Time (for rescheduling).\n\nConfirm cancellation or rescheduling.\n\nAnswer General Queries\n\nHospital Timings, Visiting Hours\n\nDepartments Available\n\nDoctor’s Availability\n\nEmergency Contact Number\n\nInsurance and Billing Related Questions\n\nCOVID-19 Guidelines (if applicable)\n\nAddress and Directions to the Hospital","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[224,-208],"id":"bbfb9929-0266-4196-a5a2-84fd6bec67aa","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,32],"id":"a496d197-294c-4c5b-9d20-f45c4a34d85a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[320,32],"id":"36a5d020-43f3-4239-9d96-b421347a57f1","name":"Simple Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-288,-192],"id":"96c1db3b-5a1b-4a3c-9471-a5f17c143db3","name":"Telegram Trigger","webhookId":"b7e5dcd3-4dfc-45c0-ae58-057687c53fb4","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[832,-192],"id":"bf36ddb1-eb37-44b7-ad88-d237efaf38d7","name":"Send a text message","webhookId":"a9d7c61f-955c-4639-be8f-297aac63a504","credentials":{"telegramApi":{"id":"cEjoi7skWIWXGVu4","name":"Telegram account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"310be381-b42c-4630-a2bb-b7ca0c525c17","triggerCount":1,"shared":[{"createdAt":"2025-09-13T16:29:55.035Z","updatedAt":"2025-09-13T16:29:55.035Z","role":"workflow:owner","workflowId":"556HcHHHTblcNJt1","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}