Backup-24-09-2025/My workflow 3.json
{"createdAt":"2025-09-24T04:03:57.939Z","updatedAt":"2025-09-24T04:04:12.000Z","id":"l0o4xIYz9UuT9RD5","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-16],"id":"f55c15e6-16a2-4a31-adf6-85dc1be938df","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,-16],"id":"a2caef69-41ac-4e80-a9bf-c79e33c2ba6d","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,0],"id":"164a2a2c-5220-4418-b3b6-2b83e48806a2","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[80,-16],"id":"7b1f54d4-9e80-42d9-b7e3-41c20fa82de5","name":"Get Workflows","credentials":{"n8nApi":{"id":"1nXgG54n3mhBimUi","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[736,0],"id":"0df10933-e641-49b4-9fdb-e07ce4df2aa3","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[976,176],"id":"dc28542d-0e94-46fb-a02c-32bec84f91bd","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1875220372,"mode":"list","cachedResultName":"Workflow Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,336],"id":"63d5cb95-b7cd-4180-a0c8-49d198b35bc8","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"74HDWwhLJT4BhvXj","name":"Google Sheets account"}},"disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,-16],"id":"90f2a464-b435-4c85-905f-cead41d8c0d5","name":"Schedule Trigger"}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare file","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb1f31d7-144c-4b07-9b82-1178810927b9","triggerCount":0,"shared":[{"createdAt":"2025-09-24T04:03:57.945Z","updatedAt":"2025-09-24T04:03:57.945Z","role":"workflow:owner","workflowId":"l0o4xIYz9UuT9RD5","projectId":"Jhxl57jBaP5qwf3G"}],"tags":[]}