Backup-10-09-2025/Telegram.json
{"createdAt":"2025-09-09T05:57:07.233Z","updatedAt":"2025-09-09T07:22:44.000Z","id":"HrG94Q67cpKjtmGF","name":"Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2864,-208],"id":"872255dd-dd88-4b47-9186-149d58e73792","name":"Telegram Trigger","webhookId":"f36856cf-80bb-43d6-a46e-80f17e4c7850","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2163d3e7-69d3-49fd-904b-2ebf1163ce5e","name":"bot id","value":"8014219327:AAFeE0nDg5LC2L954r3Dh4sN0W3g2EQtGNY","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2720,-208],"id":"124d578e-e746-450a-a9d3-f672f8df469a","name":"Bot ID"},{"parameters":{"url":"=https://api.telegram.org/bot{{ $json['bot id'] }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2512,32],"id":"2f67266a-ac37-426d-ad9c-94194f979705","name":"Get Image ID"},{"parameters":{"url":"=https://api.telegram.org/file/bot{{ $('Bot ID').item.json['bot id'] }}/{{ $json.result.file_path }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,32],"id":"73a6b6b7-d22d-46cd-b986-2f81af74073a","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"={{ $json.result }}","options":{"systemMessage":"analyze the image"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1536,-624],"id":"ec3c98da-3cdb-4f62-a7f5-f13ae0f5ae99","name":"AI Agent","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1616,-320],"id":"27bf011f-601d-4f26-9b01-ab9b9952f7ad","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"ewwew"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1504,-320],"id":"0ea77812-dc9c-460a-8e3d-10524db1cbda","name":"Simple Memory"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemma-3-27b-it","mode":"list","cachedResultName":"models/gemma-3-27b-it"},"imageUrls":"=https://api.telegram.org/file/bot{{ $('Bot ID').item.json['bot id'] }}/{{ $json.result.file_path }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[-1392,-320],"id":"c6db6e8a-5875-4183-bcfb-78002f503049","name":"Analyze image in Google Gemini","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/gemma-3-27b-it","mode":"list","cachedResultName":"models/gemma-3-27b-it"},"text":"={{ $('Telegram Trigger').item.json.message.caption }}","imageUrls":"=https://api.telegram.org/file/bot{{ $('Bot ID').item.json['bot id'] }}/{{ $json.result.file_path }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1952,-560],"id":"e4f7fa6d-27ab-4699-9328-62365122116b","name":"Analyze image","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"We are processing this image","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2160,32],"id":"e2aa6cb8-d94a-4bba-afed-d7bd5adb0bd8","name":"Send a text message","webhookId":"44ac82bd-d2e5-45a5-89fc-b578678073ed","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1952,32],"id":"1914ccc6-1ff2-4504-80a1-0a6a42f9aef3","name":"Wait","webhookId":"1af6336b-c5c0-4be7-971f-45bd6f14074d"},{"parameters":{"operation":"sendAndWait","chatId":"={{ $json.result.chat.id }}","message":"Are you sure to post this imge to social media?","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1744,32],"id":"e46c6e64-7b28-4c89-9cd1-65e26d4c295c","name":"Send message and wait for response","webhookId":"5bd53a2a-bffe-4c6d-b7c8-d204ff0bc7b3","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d87f1948-a92e-4b96-a689-99915d32d031"}],"combinator":"and"},"renameOutput":true,"outputKey":"Accept"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0affdddf-3f16-417d-84a2-48ab470d4096","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Declined"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1536,32],"id":"43be69a0-5e6e-49d9-9e46-dd8bad31ea8a","name":"Switch"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Image posted successfully","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1232,-112],"id":"6a93b0dc-a76f-4960-9d4e-51ff83f21387","name":"Posted","webhookId":"cd4178c1-794f-4ca6-aebc-8e0c7d8dac32","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Image not posted","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1120,112],"id":"2b3e9cc7-8a45-4242-9b3c-52dfd69cdbf1","name":"Declined","webhookId":"cd4178c1-794f-4ca6-aebc-8e0c7d8dac32","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Bot ID","type":"main","index":0}]]},"Bot ID":{"main":[[]]},"Get Image ID":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Analyze image in Google Gemini":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send a text message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Posted","type":"main","index":0}],[{"node":"Declined","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e9b1cb13-ccaa-46a7-a61a-723d7231fe03","triggerCount":0,"shared":[{"createdAt":"2025-09-09T05:57:07.676Z","updatedAt":"2025-09-09T05:57:07.676Z","role":"workflow:owner","workflowId":"HrG94Q67cpKjtmGF","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}