Backup-10-09-2025/Workflow Backup.json
{"createdAt":"2025-09-09T05:57:07.727Z","updatedAt":"2025-09-09T05:57:07.727Z","id":"4wMxixtw2vy9QzDN","name":"Workflow Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-208],"id":"85f92d8d-a73e-4264-a1ee-5f6e342db558","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-208],"id":"045967a8-3738-4261-93b9-d84fa04ffc96","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,-192],"id":"315b6368-45f1-4287-9fa0-9676d429c8e7","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-368,-208],"id":"9c262bcb-3d7d-4ed5-b539-cf2bc6cb96f4","name":"Get Workflows","credentials":{"n8nApi":{"id":"VeOLbXqWZBB21vei","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[288,-192],"id":"8ec518ba-74cc-486a-8e54-5b47a4af6441","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[528,-16],"id":"d0ed187d-de07-4ea5-8759-9b4c33bc656b","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1875220372,"mode":"list","cachedResultName":"Workflow Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[752,48],"id":"8ccddc39-9f61-4f40-8ed7-dd51c1749823","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tQLdpHICuTT8GRqg","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-736,-208],"id":"5ad2e031-ba44-498e-88e7-9f3c979cd6bf","name":"Schedule Trigger"}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare file","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"b3533cc4-4896-4fb3-ac8d-5a2bb86558cc","triggerCount":0,"shared":[{"createdAt":"2025-09-09T05:57:11.329Z","updatedAt":"2025-09-09T05:57:11.329Z","role":"workflow:owner","workflowId":"4wMxixtw2vy9QzDN","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}