Backup-22-09-2025/My workflow.json
{"createdAt":"2025-09-22T06:42:16.172Z","updatedAt":"2025-09-22T06:42:16.172Z","id":"uZ9rkYHF2KhqM82X","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,-208],"id":"26046366-6533-44df-8370-3646b306a1a4","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,-208],"id":"c930f6f7-6737-4d90-be3a-9483c4cc7a19","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-192],"id":"30af581d-600c-47e1-a84a-23c434529db7","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-512,-208],"id":"28449bf4-4576-4b3a-a0f4-0caa5a1bd9cc","name":"Get Workflows","credentials":{"n8nApi":{"id":"1nXgG54n3mhBimUi","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[144,-192],"id":"29204dae-32ea-4c7e-a322-3f5e97ddc38f","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[384,-16],"id":"792c1ed4-aff7-40bd-9989-afc8b3800bc1","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1875220372,"mode":"list","cachedResultName":"Workflow Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[608,48],"id":"7c662412-1db9-4cf9-8b58-8bf1134e0c5f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"74HDWwhLJT4BhvXj","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,-208],"id":"9bc4f80e-98bc-449d-99eb-3134530a8255","name":"Schedule Trigger"}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare file","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fa3c51f9-7d86-4083-9f94-14747b331e6b","triggerCount":0,"shared":[{"createdAt":"2025-09-22T06:42:16.183Z","updatedAt":"2025-09-22T06:42:16.183Z","role":"workflow:owner","workflowId":"uZ9rkYHF2KhqM82X","projectId":"Jhxl57jBaP5qwf3G"}],"tags":[]}