Backup-Invalid DateTime/Social media agent.json
{"createdAt":"2025-09-21T07:43:20.712Z","updatedAt":"2025-09-21T07:43:20.712Z","id":"zWGHWtAlE1grNUmf","name":"Social media agent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,720],"id":"59918241-926a-419e-a2d8-eb2d3d433f0b","name":"Google Gemini Chat Model"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"=create a natural resemling image about topic {{ $json.output }} ","options":{"sampleCount":1}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[400,272],"id":"a753de2f-491c-412b-ae2f-a3d6a62c2464","name":"Generate an image"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR","mode":"list","cachedResultName":"Social media assets","cachedResultUrl":"https://drive.google.com/drive/folders/15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[560,272],"id":"db831ef5-b615-4730-bbe0-c354edf4ce31","name":"Upload file"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":27103859,"mode":"list","cachedResultName":"SocialMediaPost","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Pending","Topic":"={{ $('When chat message received').item.json.chatInput }}","Date":"={{$now.format('dd-MM-yyyy')}}"},"matchingColumns":["Topic"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Topic","displayName":"Topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram content","displayName":"Instagram content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Content","displayName":"Facebook Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin Content","displayName":"Linkedin Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preview","displayName":"Preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,256],"id":"d66ff194-8ce7-4fe1-bd0a-da0b17bcf3b6","name":"Append or update row in sheet"},{"parameters":{"collectionName":"social media"},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[80,720],"id":"b23df80d-6571-49fe-be44-b9b1f5dab5b7","name":"MongoDB Chat Memory"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-1.5-flash","mode":"list","cachedResultName":"models/gemini-1.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[224,720],"id":"72b6ecfa-5ee4-43d2-86ae-dfffe3abcdf4","name":"Message a model in Google Gemini"},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.chatInput }}"},{"name":"lanh","value":"en"},{"name":"max2"},{"name":"apikey","value":"a77a9411857dec34e3a7e176f61015f8"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,80],"id":"f6f2ebe0-06ed-4617-aa5a-4f397e766a77","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-176,304],"id":"ee0655c1-5aab-4c9e-9822-c0a7f417ac27","name":"When chat message received","webhookId":"7032fb14-8716-4bfd-930f-4bfd0f200283"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"17841476586070758","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json['Image Link'] }}"},{"name":"node","value":"17841476586070758"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[1616,256],"id":"b24efc68-1736-4024-b804-a1eb4d683821","name":"Facebook Graph API","disabled":true},{"parameters":{"options":{"systemMessage":"Generate article sutitable for linkedin post"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,128],"id":"c524ae6d-b0d1-4db0-9465-075aa5f96b17","name":"Linkedin Agent"},{"parameters":{"options":{"systemMessage":"create suitable for facebook post, Shorter and more concise"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,272],"id":"41983ac2-5596-45f9-97e7-49d8f7b46f13","name":"Facebook Agent"},{"parameters":{"options":{"systemMessage":"create very short article and  hash tags for same for instagram"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[384,480],"id":"d51a63eb-ed97-4348-ab35-b6e21b71442b","name":"Insta Agent"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Facebook Agent","type":"ai_languageModel","index":0},{"node":"Linkedin Agent","type":"ai_languageModel","index":0},{"node":"Insta Agent","type":"ai_languageModel","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"MongoDB Chat Memory":{"ai_memory":[[{"node":"Facebook Agent","type":"ai_memory","index":0},{"node":"Linkedin Agent","type":"ai_memory","index":0},{"node":"Insta Agent","type":"ai_memory","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"Facebook Agent","type":"ai_tool","index":0},{"node":"Linkedin Agent","type":"ai_tool","index":0},{"node":"Insta Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Facebook Agent","type":"main","index":0},{"node":"Linkedin Agent","type":"main","index":0},{"node":"Insta Agent","type":"main","index":0}]]},"Linkedin Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Facebook Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Insta Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"76ea65b9-c1c9-497f-bbf5-bccdf8f6eee1","triggerCount":0,"shared":[{"createdAt":"2025-09-21T07:43:20.725Z","updatedAt":"2025-09-21T07:43:20.725Z","role":"workflow:owner","workflowId":"zWGHWtAlE1grNUmf","projectId":"JNlYekubOzjkeUuc"}],"tags":[]}