Backup-Invalid DateTime/Workflow Backup Restore v2.json
{"createdAt":"2025-09-21T07:39:48.303Z","updatedAt":"2025-09-21T07:41:41.000Z","id":"hoM5QQAVRNHwBO0s","name":"Workflow Backup Restore v2","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"6ed54c04-373e-4293-b40e-a4c8706ce533","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[192,176],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"amitvishwa19"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup-v2"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"workflows"}]},"options":{}},"id":"552a5eb5-c296-42dc-93f3-02de9e351aad","name":"Globals","type":"n8n-nodes-base.set","position":[384,176],"typeVersion":3.4},{"parameters":{"content":"## Restore from GitHub \nThis workflow will restore all instance workflows from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n","height":420,"width":320},"id":"83816eb5-cbfa-415e-858d-347710230a0a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-240,64],"typeVersion":1},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"2b6daf5c-9f27-4826-ab84-01aa5dad0048","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[320,64],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"ca4ce5cd-acae-46e4-9a63-0f070b3ada6f","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[224,512],"typeVersion":4.2,"credentials":{"githubApi":{"id":"a1gQZQmx1xiqyTXw","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"b2964f59-6712-4551-95a6-dd107da73824","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[464,512],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup-v2","mode":"name"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"a8048d1f-3a76-4098-87bb-244ea59bcd5d","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[688,512],"typeVersion":1,"alwaysOutputData":true,"webhookId":"322b37c8-250d-4c12-8927-9da071e200a4","credentials":{"githubApi":{"id":"a1gQZQmx1xiqyTXw","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"id":"ced6f50b-715f-4b3f-b8dd-4a19d8699364","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[912,512],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"id":"3d2bb9ea-f324-45cf-96df-bafd86647f37","name":"Restore n8n Workflows","type":"n8n-nodes-base.n8n","position":[1264,576],"typeVersion":1,"credentials":{"n8nApi":{"id":"l8E5pUlkgaw9u7pF","name":"n8n account"}}}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Restore n8n Workflows","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4976a321-ddfc-44cd-a1f3-d1a0801cb9bb","triggerCount":0,"shared":[{"createdAt":"2025-09-21T07:39:48.309Z","updatedAt":"2025-09-21T07:39:48.309Z","role":"workflow:owner","workflowId":"hoM5QQAVRNHwBO0s","projectId":"JNlYekubOzjkeUuc"}],"tags":[]}