Backup-19-09-2025/My workflow 6.json
{"createdAt":"2025-09-18T04:49:13.456Z","updatedAt":"2025-09-18T04:54:47.000Z","id":"IEfmQqC6W029atQL","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.image }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-896,0],"id":"3eeb648e-0cf8-4384-a1aa-ce396b5ffe05","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1040,208],"id":"7137b420-e4b8-44fc-adfa-657179403e7c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1232,16],"id":"3f92e760-3829-4859-9149-258df25dd458","name":"When chat message received","webhookId":"ffe61c31-0eab-4998-bb7a-b90b9a0b2de8"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"85d01d27-449c-48af-a770-bd88ad835ced","triggerCount":0,"shared":[{"createdAt":"2025-09-18T04:49:13.463Z","updatedAt":"2025-09-18T04:49:13.463Z","role":"workflow:owner","workflowId":"IEfmQqC6W029atQL","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}