Backup-19-09-2025/My workflow 7.json
{"createdAt":"2025-09-18T05:59:15.178Z","updatedAt":"2025-09-18T06:17:32.000Z","id":"GMvp9QavOXz9zzJm","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":27103859,"mode":"list","cachedResultName":"SocialMediaPost","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-560,-48],"id":"194dfb8f-6e6d-4e06-9da5-16694e19a8bf","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"81uVqYm3CiSjwzAn","name":"Google Sheets Trigger account"}}},{"parameters":{"promptType":"define","text":"=Create a linkedin post on topic {{ $json.Topic }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-352,-128],"id":"32dfb1f1-7356-4e4b-b6b3-9d545ffb00b1","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-496,160],"id":"ef4b6559-ca75-42bc-8923-755c35bf985f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Topic }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-352,160],"id":"b3af18ad-1f98-4101-8a5e-2e28b9f91f58","name":"Simple Memory"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":27103859,"mode":"list","cachedResultName":"SocialMediaPost","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"},"columns":{"mappingMode":"defineBelow","value":{"Output":"={{ $json.output }}","Status":"Pending","Topic":"={{ $('Google Sheets Trigger').item.json.Topic }}","Link":"={{ $json.webViewLink }}"},"matchingColumns":["Topic"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Topic","displayName":"Topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,-112],"id":"abeb6ebe-e8ff-4e0d-af30-85c7da6cf0b4","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"xlB8qXFBDFdV7hmy","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-1.5-flash","mode":"list","cachedResultName":"models/gemini-1.5-flash"},"messages":{"values":[{"content":"={{ $json.output }}","role":"model"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[-208,160],"id":"ac9e18d0-ae30-4083-9800-437c83e0c9b9","name":"Message a model in Google Gemini","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-48,-112],"id":"7f6532d2-f081-4151-b5f1-8de9f2273d52","name":"Generate an image","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR","mode":"list","cachedResultName":"Social media assets","cachedResultUrl":"https://drive.google.com/drive/folders/15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,-112],"id":"d5eec0bb-2956-4b57-ba8e-d09d59db9d62","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"XA4Zr6E3IR5oWpii","name":"Google Drive account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c6ba343-4e0f-494d-b042-89b6dc18201a","triggerCount":0,"shared":[{"createdAt":"2025-09-18T05:59:15.183Z","updatedAt":"2025-09-18T05:59:15.183Z","role":"workflow:owner","workflowId":"GMvp9QavOXz9zzJm","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}