Backup-19-09-2025/Social media agent.json
{"createdAt":"2025-09-18T06:17:46.990Z","updatedAt":"2025-09-19T13:29:06.000Z","id":"GGKwbpqfw5athw1Q","name":"Social media agent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1200,384],"id":"47e4401c-d286-44f5-8973-2c70ef6057f5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"=create a natural resemling image about topic {{ $json.output }} ","options":{"sampleCount":1}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-704,-64],"id":"33b9679a-eb96-4913-9afd-4127f4ef742e","name":"Generate an image","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR","mode":"list","cachedResultName":"Social media assets","cachedResultUrl":"https://drive.google.com/drive/folders/15UOGs9JJqbtfeXH6_gMY_lIlrpw9ZyvR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-544,-64],"id":"45a5ec79-05d9-4cf2-a252-abecf8598d9b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"XA4Zr6E3IR5oWpii","name":"Google Drive account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":27103859,"mode":"list","cachedResultName":"SocialMediaPost","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Pending","Topic":"={{ $('When chat message received').item.json.chatInput }}","Date":"={{$now.format('dd-MM-yyyy')}}"},"matchingColumns":["Topic"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Topic","displayName":"Topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram content","displayName":"Instagram content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Content","displayName":"Facebook Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin Content","displayName":"Linkedin Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Preview","displayName":"Preview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,-80],"id":"004b41d2-e2c8-4d76-b261-5bec1465bfd1","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"xlB8qXFBDFdV7hmy","name":"Google Sheets account"}}},{"parameters":{"collectionName":"social media"},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[-1024,384],"id":"39729b45-1ad7-4d22-9fff-42e098014fe1","name":"MongoDB Chat Memory","credentials":{"mongoDb":{"id":"YtWly1ScqsJsIbqY","name":"MongoDB account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-1.5-flash","mode":"list","cachedResultName":"models/gemini-1.5-flash"},"messages":{"values":[{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGeminiTool","typeVersion":1,"position":[-880,384],"id":"67d3cc64-b2fe-4f84-addc-103648b8f4d5","name":"Message a model in Google Gemini","credentials":{"googlePalmApi":{"id":"xZ7lYCwJzlmCIQW9","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"https://gnews.io/api/v4/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.chatInput }}"},{"name":"lanh","value":"en"},{"name":"max2"},{"name":"apikey","value":"a77a9411857dec34e3a7e176f61015f8"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-256],"id":"4a1a6403-e0d2-48c9-b59a-fd2af1059cae","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1280,-32],"id":"3f196baa-704a-4f7e-9b4b-24afa61f210a","name":"When chat message received","webhookId":"7032fb14-8716-4bfd-930f-4bfd0f200283"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"17841476586070758","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json['Image Link'] }}"},{"name":"node","value":"17841476586070758"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[512,-80],"id":"82173476-46e9-4db2-abe8-929bc7fa9f74","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"sTfmSF0JfDUcPNjj","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"options":{"systemMessage":"Generate article sutitable for linkedin post"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1024,-208],"id":"2d66fdd8-ad07-45a6-a2c5-93a18e558335","name":"Linkedin Agent"},{"parameters":{"options":{"systemMessage":"create suitable for facebook post, Shorter and more concise"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1024,-64],"id":"3f39b6e8-02ca-4453-b96a-ebb29c9de204","name":"Facebook Agent"},{"parameters":{"options":{"systemMessage":"create very short article and  hash tags for same for instagram"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-720,144],"id":"e3740d85-3a9f-47b8-8fc0-199010b99ce5","name":"Insta Agent"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Facebook Agent","type":"ai_languageModel","index":0},{"node":"Linkedin Agent","type":"ai_languageModel","index":0},{"node":"Insta Agent","type":"ai_languageModel","index":0}]]},"Generate an image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"MongoDB Chat Memory":{"ai_memory":[[{"node":"Facebook Agent","type":"ai_memory","index":0},{"node":"Linkedin Agent","type":"ai_memory","index":0},{"node":"Insta Agent","type":"ai_memory","index":0}]]},"Message a model in Google Gemini":{"ai_tool":[[{"node":"Facebook Agent","type":"ai_tool","index":0},{"node":"Linkedin Agent","type":"ai_tool","index":0},{"node":"Insta Agent","type":"ai_tool","index":0}]]},"HTTP Request":{"main":[[]]},"When chat message received":{"main":[[{"node":"Facebook Agent","type":"main","index":0},{"node":"Linkedin Agent","type":"main","index":0},{"node":"Insta Agent","type":"main","index":0}]]},"Facebook Graph API":{"main":[[]]},"Linkedin Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Facebook Agent":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"Insta Agent":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b5855e4-89a1-4218-92b0-af77b3b6779d","triggerCount":0,"shared":[{"createdAt":"2025-09-18T06:17:46.996Z","updatedAt":"2025-09-18T06:17:46.996Z","role":"workflow:owner","workflowId":"GGKwbpqfw5athw1Q","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}