Backup-19-09-2025/Workflow Backup.json
{"createdAt":"2025-09-10T09:49:12.042Z","updatedAt":"2025-09-18T04:47:18.000Z","id":"KwvXi0siGDVX5Z6V","name":"Workflow Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-208],"id":"823c9439-8b28-43d7-9d5f-5e484f4a5527","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,-208],"id":"467b0e7a-f0a6-4638-81ed-13b349bf867e","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-192],"id":"b173c288-f0a7-4bf6-a3a4-db36f6244c17","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-560,-208],"id":"eb9fb185-b865-46a4-a423-04150aaa0bbe","name":"Get Workflows","credentials":{"n8nApi":{"id":"v4W9WSvUvabqFBnX","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[96,-192],"id":"b78e79be-d25f-4f7f-97ec-927c6f41baa6","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[336,-16],"id":"a081f524-dc57-42f2-8026-722847065890","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"DngZmt5ZYgTwnxZX","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1875220372,"mode":"list","cachedResultName":"Workflow Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[560,48],"id":"c58fcdf3-40ee-413e-91ae-7975a31117c0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"xlB8qXFBDFdV7hmy","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,-208],"id":"3cc1d1f6-cde5-4997-8bdf-bae36392498e","name":"Schedule Trigger"}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare file","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fd5807c-c29e-4d5a-ae6f-14f985589973","triggerCount":0,"shared":[{"createdAt":"2025-09-10T09:49:12.049Z","updatedAt":"2025-09-10T09:49:12.049Z","role":"workflow:owner","workflowId":"KwvXi0siGDVX5Z6V","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}