Backup-19-09-2025/Workflow Restore.json
{"createdAt":"2025-09-10T09:41:11.598Z","updatedAt":"2025-09-18T04:47:29.000Z","id":"4W04YjZIQ9c0a9yv","name":"Workflow Restore","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"4007d51f-5eb1-4fed-bfc7-5480f34938a2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-736,-416],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"amitvishwa19"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup-v2"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"workflows"}]},"options":{}},"id":"1bdfef6e-0075-4558-ae20-f5251cb71128","name":"Globals","type":"n8n-nodes-base.set","position":[-544,-416],"typeVersion":3.4},{"parameters":{"content":"## Restore from GitHub \nThis workflow will restore all instance workflows from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n","height":420,"width":320},"id":"1dd30b46-a8f7-4860-8e0e-4195b1b6af51","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1168,-528],"typeVersion":1},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"418b277b-767b-44a8-a851-2623f42dacf9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-608,-528],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"9eb6266d-2db2-4485-9134-00d80edf2908","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[-704,-80],"typeVersion":4.2,"credentials":{"githubApi":{"id":"DngZmt5ZYgTwnxZX","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"50460877-9822-402c-aa79-89fd372e1d7d","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[-464,-80],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n-backup-v2","mode":"name"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"ff038d35-aa35-40f2-993b-ac24b8bcd0ea","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[-240,-80],"typeVersion":1,"alwaysOutputData":true,"webhookId":"322b37c8-250d-4c12-8927-9da071e200a4","credentials":{"githubApi":{"id":"DngZmt5ZYgTwnxZX","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"id":"8389a767-93fd-4645-af1c-c4ced8cb8bbd","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[-16,-80],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"id":"40cb4e25-926c-43f9-8255-28cc2fdcb2f3","name":"Restore n8n Workflows","type":"n8n-nodes-base.n8n","position":[336,-16],"typeVersion":1,"credentials":{"n8nApi":{"id":"v4W9WSvUvabqFBnX","name":"n8n account"}}}],"connections":{"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Restore n8n Workflows","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"077da34e-1d2d-49bc-8c38-fd036fc09aad","triggerCount":0,"shared":[{"createdAt":"2025-09-10T09:41:11.607Z","updatedAt":"2025-09-10T09:41:11.607Z","role":"workflow:owner","workflowId":"4W04YjZIQ9c0a9yv","projectId":"7hCo4WqMuZtVL5DL"}],"tags":[]}