Workflow Backup/uZ9rkYHF2KhqM82X.json
{"createdAt":"2025-09-22T06:42:16.172Z","updatedAt":"2025-09-24T05:04:11.000Z","id":"uZ9rkYHF2KhqM82X","name":"Workflows Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Workflow Backup","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-80],"id":"26046366-6533-44df-8370-3646b306a1a4","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-800,-80],"id":"c930f6f7-6737-4d90-be3a-9483c4cc7a19","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-64],"id":"30af581d-600c-47e1-a84a-23c434529db7","name":"Prepare file"},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-352,-64],"id":"29204dae-32ea-4c7e-a322-3f5e97ddc38f","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json","binaryData":true,"commitMessage":"={{ $('Loop Over Items').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[16,192],"id":"792c1ed4-aff7-40bd-9989-afc8b3800bc1","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1376,-80],"id":"9bc4f80e-98bc-449d-99eb-3134530a8255","name":"Schedule Trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"README.md","operator":{"type":"string","operation":"exists","singleValue":true},"id":"c2d50d90-665c-424c-866a-f3fd0cf02077"}],"combinator":"and"},"renameOutput":true,"outputKey":"Readme Exists"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ef92f85-55f7-4850-8369-8dd23302c292","leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Readme"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[352,-320],"id":"5450fbdc-0b3c-4d04-b025-737763b39b0f","name":"Switch"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"README.md","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[144,-320],"id":"e9a2ac04-fa16-4758-ab4f-780daa01ca95","name":"Check for Readme","webhookId":"b12c4a0c-f6c0-46fb-996f-9968bde50316","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"README.md","fileContent":"=# N8N Workflow Backup - \nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.format('dd-MM-yyyy T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n* Automatically generated by NSN Backup Workflow *","commitMessage":"New Backup"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[640,-336],"id":"35b804cd-db9c-4a14-8363-ed4c463b8635","name":"Edit a file","webhookId":"4edbb934-e752-46b4-99b6-3f484e780c01","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}}},{"parameters":{"content":"Check github for Readme file and create or update\n","height":336,"width":736,"color":5},"type":"n8n-nodes-base.stickyNote","position":[112,-368],"typeVersion":1,"id":"7e24def8-5032-4100-b86a-7322b26c114d","name":"Sticky Note"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"README.md","fileContent":"=# N8N Workflow Backup - \nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.format('dd-MM-yyyy T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n* Automatically generated by NSN Backup Workflow *","commitMessage":"asassas"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[640,-176],"id":"a3e979aa-02d1-4be1-a4d8-26f2cbd5af3c","name":"Create a file1","webhookId":"b33de990-e692-4041-9882-ac12218cab02","credentials":{"githubApi":{"id":"bbmcSokLK6Dm4sdi","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1008,-80],"id":"28449bf4-4576-4b3a-a0f4-0caa5a1bd9cc","name":"Get many workflows","credentials":{"n8nApi":{"id":"1nXgG54n3mhBimUi","name":"n8n account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto","mode":"list","cachedResultName":"Devlomatix Solutions Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1875220372,"mode":"list","cachedResultName":"Workflow Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","Workflow":"={{ $('Get many workflows').item.json.name }}"},"matchingColumns":["Workflow"],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-608,368],"id":"7c662412-1db9-4cf9-8b58-8bf1134e0c5f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"74HDWwhLJT4BhvXj","name":"Google Sheets account"}}}],"connections":{"Folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Check for Readme","type":"main","index":0}],[{"node":"Prepare file","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Schedule Trigger":{"main":[[{"node":"Folder","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file1","type":"main","index":0}]]},"Check for Readme":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[8]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"334aee45-9e86-4bf1-9144-f96d357d4354","triggerCount":1,"shared":[{"createdAt":"2025-09-22T06:42:16.183Z","updatedAt":"2025-09-22T06:42:16.183Z","role":"workflow:owner","workflowId":"uZ9rkYHF2KhqM82X","projectId":"Jhxl57jBaP5qwf3G"}],"tags":[]}