workflows/0bKmwJuq8fmfMihM.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "getFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "saveImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "createImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createImage": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRecipe": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saveImage": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "saveImage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "downloadFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getFiles": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadFile": {
      "main": [
        [
          {
            "node": "editImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "editImage": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "saveImage1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-25T05:22:42.341Z",
  "id": "0bKmwJuq8fmfMihM",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        736
      ],
      "id": "ab96cdcd-1bcc-44a3-a62d-210c3d58ed32",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Generate image",
        "height": 300,
        "width": 1260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -592
      ],
      "id": "2585aeae-b0f3-4943-ba2b-e11cb212feac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Recipe book",
        "height": 360,
        "width": 1260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -208
      ],
      "id": "0460d9e4-861d-4427-91e9-b7be1a02705a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        0,
        -112
      ],
      "id": "5a7b2508-6fa4-42a1-a7b0-d06bf05893a3",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -496,
        -112
      ],
      "id": "ca852ecf-7e9c-4128-bd1b-315e95bd0f9e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "=create clean, visually appealing top-down images of recipe ingredients arranged neatly on a light, neutral background. Use natural lighting and a soft color palette. Ingredients should be spaced evenly with a clean, modern aesthetic. Emphasize variety in textures and colors. Optional: include small handwritten-style ingredient labels below each item, mimicking the look of a curated cookbook or magazine spread.  \n\n{{ $json.Ingredients }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        -112
      ],
      "id": "7d738998-c638-4bfa-b57e-2d36d0107696",
      "name": "createImage"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eZoAvo8D-VDCNbPY4Egg9uNioKrvfDFtVCXtOC1DyIQ",
          "mode": "list",
          "cachedResultName": "Recipe Book",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZoAvo8D-VDCNbPY4Egg9uNioKrvfDFtVCXtOC1DyIQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eZoAvo8D-VDCNbPY4Egg9uNioKrvfDFtVCXtOC1DyIQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        -112
      ],
      "id": "1585b230-b804-4ba6-a81a-f4d4ebb98c76",
      "name": "getRecipe"
    },
    {
      "parameters": {
        "name": "={{ $('getRecipe').item.json['Recipe name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19R5bCLF5GBU4KFdtFW1Vg3Rtyviow08q",
          "mode": "list",
          "cachedResultName": "Recipe images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19R5bCLF5GBU4KFdtFW1Vg3Rtyviow08q"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -112
      ],
      "id": "b39125b2-2a24-462d-9563-30aec8a3e055",
      "name": "saveImage"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        48,
        736
      ],
      "id": "f9fe5dab-5b2c-4616-8e3d-3ae100834122",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        736
      ],
      "id": "f85001ec-505e-452d-a882-441ce12e0cf5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1b9h1kFSjxKPZCuq2TlV6la195-YvgTi0",
            "mode": "list",
            "cachedResultName": "Products",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1b9h1kFSjxKPZCuq2TlV6la195-YvgTi0"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        736
      ],
      "id": "e8451101-795d-4157-9713-177ff6d2c9a3",
      "name": "getFiles",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0wlnP7OGXNDie77O",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('getFiles').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        736
      ],
      "id": "29871769-2d2b-4426-9995-497e671bfff9",
      "name": "downloadFile",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0wlnP7OGXNDie77O",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "Bearer "
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "Generate a visually appealing and vibrant product image using the provided beverage can. Identify the beverage flavor directly from the can and position relevant ingredients, such as fruits or botanicals, dynamically around it. Include realistic water splashes around the can to create a refreshing and energetic feel. The background should harmonize with the can's color scheme, using much lighter, complementary tone to enhance the overall bright and fresh aesthetic. Lighting should emphasize freshness, clarity, and highlight natural textures of the ingredients."
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        736
      ],
      "id": "b588bb33-1313-4119-80ca-37bf228a7291",
      "name": "editImage"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FG0EYk5v0IAttxA-r6ykjJK_CcrBn08g",
          "mode": "list",
          "cachedResultName": "Products (Edited)",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FG0EYk5v0IAttxA-r6ykjJK_CcrBn08g"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        736
      ],
      "id": "708ed0e3-b14a-427b-b484-efaca79c952e",
      "name": "saveImage1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0wlnP7OGXNDie77O",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "An adorable fluffy bunny with big, sad, expressive eyes, gently holding a small wooden sign that reads \"Like and Subscribe\" in playful, friendly lettering. The bunny is positioned against a soft pastel-colored background, with warm, natural lighting that enhances its cuteness and charm. The overall style is whimsical, inviting, and designed to evoke a positive emotional response."
            },
            {
              "name": "quality",
              "value": "high"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -496
      ],
      "id": "0020c7fd-0f11-42fc-81f6-d34486e50266",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -496
      ],
      "id": "5bf78bb8-8fa6-4755-a564-1f7b00025ed9",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "Change the words on the sign to 'Thanks for Subscribing!' and make the bunny look happy"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        368
      ],
      "id": "6ae97528-5cb3-4044-9574-9356093bcd95",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1lIFOHY4XjNM9pJkZ20VZNWqP98JxJXN6",
          "mode": "list",
          "cachedResultName": "bunny.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1lIFOHY4XjNM9pJkZ20VZNWqP98JxJXN6/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        368
      ],
      "id": "ef9d6cb1-35d3-4e60-8b8e-8e0a3a883fca",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        368
      ],
      "id": "dc915057-b7ab-436c-8368-34b474ccbc67",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "## Edit image",
        "height": 360,
        "width": 1260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        240
      ],
      "id": "ee3ab011-fc80-4b1b-9d7a-37cf3b23da34",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Update product photos",
        "height": 360,
        "width": 1260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        640
      ],
      "id": "18484afb-c43b-47d8-afc4-98b8c1e74c83",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-25T05:22:42.347Z",
      "updatedAt": "2025-09-25T05:22:42.347Z",
      "role": "workflow:owner",
      "workflowId": "0bKmwJuq8fmfMihM",
      "projectId": "Jhxl57jBaP5qwf3G"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-30T06:55:34.000Z",
  "versionId": "53219adb-eb29-474f-ac28-72c6591b1b87"
}