workflows/Kk0oiyCJMEGyPQcw.json
{
  "active": false,
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Search google": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T05:46:12.806Z",
  "id": "Kk0oiyCJMEGyPQcw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_overview }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -800,
        -160
      ],
      "id": "a30b9f85-3e43-427a-a659-62d019808428",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -800,
        80
      ],
      "id": "73c15df4-1c1a-43dd-a02c-dfcf80dd749d",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "5QQUTnmDJlGi99qI",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1376,
        -160
      ],
      "id": "447ec355-cc07-4a48-bc7f-32747f270f17",
      "name": "When chat message received",
      "webhookId": "48e63bf5-1db7-482b-9ae5-6dcbce097872"
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -1072,
        -576
      ],
      "id": "3f9a5308-a4b9-4f3f-97c1-c8ea0ee49e16",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "rdvb0cNR2XmHAyAr",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "q": "={{ $json.chatInput }}",
        "locationSettings": {},
        "languageSettings": {},
        "searchOptions": {},
        "timeFilters": {},
        "pagination": {},
        "advancedOptions": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApi",
      "typeVersion": 1,
      "position": [
        -1168,
        -160
      ],
      "id": "109fa6ba-c174-4f9c-af7c-9a2b036a65ef",
      "name": "Search google",
      "credentials": {
        "searchApi": {
          "id": "QDUbsQgcw19GoIlX",
          "name": "SearchApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-28T05:46:12.812Z",
      "updatedAt": "2025-09-28T05:46:12.812Z",
      "role": "workflow:owner",
      "workflowId": "Kk0oiyCJMEGyPQcw",
      "projectId": "Jhxl57jBaP5qwf3G"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-28T14:20:31.000Z",
  "versionId": "9fa158f1-128d-48c0-b0e3-c9ad04426a7e"
}