workflows/rNOyYzDRQ8DpNQ6k.json
{
  "active": false,
  "connections": {
    "Instagram Container Id": {
      "main": [
        [
          {
            "node": "Instagram Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Linkedin Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Facebook Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Twitter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Twitter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Linkedin Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Facebook Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Twitter Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Instagram agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Linkedin Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Instagram agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Facebook Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Twitter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T05:46:16.877Z",
  "id": "rNOyYzDRQ8DpNQ6k",
  "isArchived": false,
  "meta": null,
  "name": "Social Media Posts",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "843412ed-4469-49ab-9d23-ee3d22d00855",
              "name": "node",
              "value": "17841476586070758",
              "type": "string"
            },
            {
              "id": "3466d2bf-2a76-4509-b3d6-3a10aaab350b",
              "name": "image_url",
              "value": "https://2ysdv7kqqjhyq5jp.public.blob.vercel-storage.com/anshu-3-YDP7nPNr0ZX0HuCAKRhpRux7NqAaE8",
              "type": "string"
            },
            {
              "id": "b76d5bcb-6b7f-41de-9e73-527e79f1135e",
              "name": "ai Image",
              "value": "Generate a image boy running with dog",
              "type": "string"
            },
            {
              "id": "234ea6e5-ef6b-476e-b6b2-7aae81bbc194",
              "name": "caption",
              "value": "This is test posted by n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -384
      ],
      "id": "5804705b-622b-4405-bb5d-2efecbc01704",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -592
      ],
      "id": "813f7fb9-2479-4243-872d-bb6eb60d7a7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Edit Fields').item.json.node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Edit Fields').item.json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.caption }}"
              },
              {
                "name": "node",
                "value": "={{ $json.node }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1024,
        -384
      ],
      "id": "3b9b815d-5273-4086-a2f1-3d0cb0ca8875",
      "name": "Instagram Container Id"
    },
    {
      "parameters": {
        "content": "## Instagram Post \n",
        "height": 224,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -448
      ],
      "typeVersion": 1,
      "id": "f4b2c783-8fcc-4ed9-aed7-b077228e814f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json['Facebook Content'] }}"
              },
              {
                "name": "url",
                "value": "=https://2ysdv7kqqjhyq5jp.public.blob.vercel-storage.com/anshu-3-YDP7nPNr0ZX0HuCAKRhpRux7NqAaE8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1024,
        -128
      ],
      "id": "091de6ed-5dbd-4c9c-a8b8-6a2b3c980991",
      "name": "Facebook Post"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Edit Fields').item.json.node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Edit Fields').item.json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Edit Fields').item.json.caption }}"
              },
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1232,
        -384
      ],
      "id": "e5439abb-a16f-4947-8ebc-814ddce4fa4b",
      "name": "Instagram Graph API"
    },
    {
      "parameters": {
        "content": "## Facebook Post \n",
        "height": 208,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -192
      ],
      "typeVersion": 1,
      "id": "a994e0da-1550-4e7a-9670-4ff2458cfe02",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "109130964",
        "text": "={{ $json.output.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1024,
        112
      ],
      "id": "ec91aa03-5bd8-4f45-9530-e82384a6fa6a",
      "name": "Create a post"
    },
    {
      "parameters": {
        "content": "## LinkedIn Post\n",
        "height": 208,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        48
      ],
      "typeVersion": 1,
      "id": "5a55f9ca-784c-40e8-921a-11b9e5e814a1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "text": "={{ $json.caption }} to",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1040,
        352
      ],
      "id": "5dc425ca-5d23-4544-b43e-d5b46357ba88",
      "name": "Create Tweet"
    },
    {
      "parameters": {
        "content": "## X Post",
        "height": 208,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        288
      ],
      "typeVersion": 1,
      "id": "fbf4a3a0-7168-4d55-bd1b-f4bc6af928a6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant,you have to create an article based on the input  in the format below\n\n\n#title\n#Description\n#Content\n\n\n\n\n{{ $json.chatInput }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -672,
        -48
      ],
      "id": "1ab1915a-dd84-4489-bead-17db76b8db7c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        544
      ],
      "id": "b2e8f405-cd89-4bb1-87d2-9df5aa43934a",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1360,
        -592
      ],
      "id": "99e84c2e-2b34-4de7-8b2e-20cb757d69b3",
      "name": "When chat message received",
      "webhookId": "df574b8e-7b27-4775-96da-7af9d3794b31"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -752,
        544
      ],
      "id": "771e9da3-94c9-4eed-b839-c2f9befa564a",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sd",
        "collectionName": "n8n_social_agent"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -912,
        544
      ],
      "id": "bc351aaf-b4a0-4fbe-be95-e00a1cc46ee0",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Instagram post writer. You will be given a title and your task is to\ncreate an engaging Instagram post based on that title.\n\nYour post should:\n1. Begin with a compelling hook related to the title\n2. Include 3-4 lines of informative content\n3.\nEnd with a question to encourage engagement\n4. Include 4-6 relevant hashtags\n5. Use appropiate emojis in between\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them\n- Ensure the text is properly escaped for JSON\n- Do not use double quote (**) in response od any special character\n- Do not put asterisk\n- Keep the overall length appropriate for LinkedIn (under 50 characters)\nNow, create a Instagram post based on the following title:\n\n{{ $json.output }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        -368
      ],
      "id": "30f40d31-2f99-4e9d-9693-521ae135de9a",
      "name": "Instagram agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn post writer. You will be given a title and your task is to\ncreate an engaging LinkedIn post based on that title.\n\n\nYour post should:\n1. Begin with a compelling hook related to the title\n2. Include 3-4 paragraphs of informative content\n3.End with a question to encourage engagement\n4. Include 4-6 relevant hashtags\n5. Use appropiate emojis in between\n\n\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them\n- Ensure the text is properly escaped for JSON\n- Do not use double quote (**) in response od any special character\n- Do not put asterisk\n- Keep the overall length appropriate for LinkedIn (under 3000 characters)\n\nNow, create a LinkedIn post based on the following title:{{ $json.output }}\n\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        0
      ],
      "id": "4938c709-26d0-49d2-a86a-9c562a9e558a",
      "name": "Linkedin Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"post\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -608,
        544
      ],
      "id": "adfd8738-c28a-4377-8004-e04c2875df4a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto",
          "mode": "list",
          "cachedResultName": "Devlomatix Solutions Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27103859,
          "mode": "list",
          "cachedResultName": "SocialMediaPost",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Google Sheets Trigger').item.json.Topic }}",
            "Date": "={{$now.format('dd-MM-yyyy T')}}",
            "Instagram content": "={{ $json.output.post }}",
            "Facebook Content": "={{ $json.output.post }}",
            "Linkedin Content": "={{ $json.output.post }}",
            "Image Link": "={{ $json.image_url }}",
            "Common": "={{ $json.output.post }}",
            "X Content": "={{ $json.output.post }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram content",
              "displayName": "Instagram content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Content",
              "displayName": "Facebook Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin Content",
              "displayName": "Linkedin Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "X Content",
              "displayName": "X Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Common",
              "displayName": "Common",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        208
      ],
      "id": "3010f822-9a60-406d-8a47-c92cf0b03ecd",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "=Create an image based on the topic , it should be realistic\n{{ $json.output }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        432
      ],
      "id": "e20081d7-c58e-4dc9-aaf4-242873cb969b",
      "name": "Generate an image"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto",
          "mode": "list",
          "cachedResultName": "Devlomatix Solutions Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 27103859,
          "mode": "list",
          "cachedResultName": "SocialMediaPost",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=27103859"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -32
      ],
      "id": "64b2a777-454a-4c69-b671-94ddf79e247e",
      "name": "Google Sheets Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67b38588-3e98-483d-9748-7955fa4e5130",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Ready to Post",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        -32
      ],
      "id": "6fc95ea9-83a2-46cf-af06-0b7557529456",
      "name": "If"
    },
    {
      "parameters": {
        "name": "={{ $('Google Sheets Trigger').item.json.Topic }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1CboVLjhQRKftZj2SUpoAEH-kz29JRXLj",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        432
      ],
      "id": "9c210944-4732-4200-99ae-b9b1a88a1151",
      "name": "Upload file"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Twitter post writer. You will be given a title and your task is to\ncreate an engaging Instagram post based on that title.\n\nYour post should:\n1. Begin with a compelling hook related to the title\n2. Include 3-4 lines of informative content\n3.End with a question to encourage engagement\n4. Include 4-6 relevant hashtags\n5. Use appropiate emojis in between\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them\n- Ensure the text is properly escaped for JSON\n- Do not use double quote (**) in response od any special character\n- Do not put asterisk\n- Keep the overall length appropriate for LinkedIn (not exeding 100 characters)\nNow, create a twitter post based on the following title:\n\n{{ $json.output }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        208
      ],
      "id": "975db099-740a-4e43-96c3-471babad3eaa",
      "name": "Twitter Agent"
    },
    {
      "parameters": {
        "trigger": [
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "C06TEUDMRKL",
          "mode": "list",
          "cachedResultName": "dev"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -400
      ],
      "id": "204121af-f83d-4da2-9459-6b980e675646",
      "name": "Slack Trigger",
      "webhookId": "f7597fc0-6a8f-4e93-b2fc-b60b6f03abc6",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Facebook post writer. You will be given a title and your task is to\ncreate an engaging Instagram post based on that title.\n\nYour post should:\n1. Begin with a compelling hook related to the title\n2. Include 2-4 paragraph of informative content\n3.\nEnd with a question to encourage engagement\n4. Include 4-6 relevant hashtags\n5. Use appropiate emojis in between\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them\n- Ensure the text is properly escaped for JSON\n- Do not use double quote (**) in response od any special character\n- Do not put asterisk\n- Keep the overall length appropriate for Facebook (under 500 characters)\nNow, create a Facebook post based on the following title:\n\n{{ $json.output }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        -192
      ],
      "id": "16722353-9067-4392-9e82-53f4c62b2ac8",
      "name": "Facebook Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59012ed2-2d63-436b-9b32-178c78feb20e",
              "name": "image_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        432
      ],
      "id": "a9ae6c4f-8195-47c8-b381-77b40f2e998a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        -416
      ],
      "id": "7f22ab12-201d-49df-9646-ed1f5bf7c1ee",
      "name": "Telegram Trigger",
      "webhookId": "b937c87e-022e-4632-b469-2b548d074718",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-03T05:46:16.889Z",
      "updatedAt": "2025-10-03T05:46:16.889Z",
      "role": "workflow:owner",
      "workflowId": "rNOyYzDRQ8DpNQ6k",
      "projectId": "hWHkhBemod06cHxZ"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-03T05:46:16.877Z",
  "versionId": "7e5edc0a-1230-4215-8923-fc14fe0ac67f"
}