workflows/uZ9rkYHF2KhqM82X.json
{
  "active": true,
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Check for Readme",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare file": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Readme",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Readme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Readme": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Errors": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        []
      ]
    },
    "Switch1": {
      "main": [
        [],
        []
      ]
    }
  },
  "createdAt": "2025-09-22T06:42:16.172Z",
  "id": "uZ9rkYHF2KhqM82X",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflows Backup",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        -80
      ],
      "id": "c930f6f7-6737-4d90-be3a-9483c4cc7a19",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2080f4e2-9679-440c-af3a-653129b34fd1",
              "name": "nodes",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "baa4dbfa-caff-4a4b-879a-3cd915c60cdd",
              "name": "filename",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -64
      ],
      "id": "30af581d-600c-47e1-a84a-23c434529db7",
      "name": "Prepare file"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -352,
        -64
      ],
      "id": "29204dae-32ea-4c7e-a322-3f5e97ddc38f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "amitvishwa19",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/amitvishwa19/n8n_backup"
        },
        "filePath": "={{ $('Globals').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -64,
        -64
      ],
      "id": "792c1ed4-aff7-40bd-9989-afc8b3800bc1",
      "name": "Create a file",
      "webhookId": "f28251e0-2110-42cd-9d74-6e14576448b1",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -80
      ],
      "id": "9bc4f80e-98bc-449d-99eb-3134530a8255",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "README.md",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c2d50d90-665c-424c-866a-f3fd0cf02077"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Readme Exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8ef92f85-55f7-4850-8369-8dd23302c292",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Readme"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        -528
      ],
      "id": "5450fbdc-0b3c-4d04-b025-737763b39b0f",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "amitvishwa19",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/amitvishwa19/n8n_backup"
        },
        "filePath": "README.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -368,
        -528
      ],
      "id": "e9a2ac04-fa16-4758-ab4f-780daa01ca95",
      "name": "Check for Readme",
      "webhookId": "b12c4a0c-f6c0-46fb-996f-9968bde50316",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Check github for Readme file and create or update\n",
        "height": 336,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -576
      ],
      "typeVersion": 1,
      "id": "7e24def8-5032-4100-b86a-7322b26c114d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1008,
        -80
      ],
      "id": "28449bf4-4576-4b3a-a0f4-0caa5a1bd9cc",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "1nXgG54n3mhBimUi",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e1d439e-ed4c-4902-8ae4-317e60c8f9cc",
              "name": "folder name",
              "value": "=Workflow Backup",
              "type": "string"
            },
            {
              "id": "a386be72-b2bb-46a5-b01c-cb536d9028df",
              "name": "user",
              "value": "amitvishwa19",
              "type": "string"
            },
            {
              "id": "72079d08-7234-4b63-93b6-625c80d3dd61",
              "name": "repo",
              "value": "n8n_backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -80
      ],
      "id": "26046366-6533-44df-8370-3646b306a1a4",
      "name": "Globals"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "amitvishwa19",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/amitvishwa19/n8n_backup"
        },
        "filePath": "README.md",
        "fileContent": "=# N8N Workflow Backup - \nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.format('dd-MM-yyyy T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n* Automatically generated by NSN Backup Workflow *",
        "commitMessage": "asassas"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        128,
        -384
      ],
      "id": "a3e979aa-02d1-4be1-a4d8-26f2cbd5af3c",
      "name": "Create Readme",
      "webhookId": "b33de990-e692-4041-9882-ac12218cab02",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "amitvishwa19",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/amitvishwa19/n8n_backup"
        },
        "filePath": "README.md",
        "fileContent": "=# N8N Workflow Backup - \nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.format('dd-MM-yyyy T') }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n* Automatically generated by NSN Backup Workflow *",
        "commitMessage": "New Backup"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        128,
        -544
      ],
      "id": "35b804cd-db9c-4a14-8363-ed4c463b8635",
      "name": "Edit Readme",
      "webhookId": "4edbb934-e752-46b4-99b6-3f484e780c01",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto",
          "mode": "list",
          "cachedResultName": "Devlomatix Solutions Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1875220372,
          "mode": "list",
          "cachedResultName": "Workflow Backup Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ChtHTAYyiLYk7ZzouswoNRH2TkvVAoGT55nDu5DpAto/edit#gid=1875220372"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Time": "={{$now.format('dd-MM-yyyy T')}}",
            "Folder Name": "={{ $('Globals').item.json['folder name'] }}",
            "Workflow": "={{ $('Get many workflows').item.json.name }}",
            "Message": "={{ $json.error }}"
          },
          "matchingColumns": [
            "Workflow"
          ],
          "schema": [
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        32
      ],
      "id": "7c662412-1db9-4cf9-8b58-8bf1134e0c5f",
      "name": "Backup Errors",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "74HDWwhLJT4BhvXj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.user }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $('Globals').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        816,
        -304
      ],
      "id": "dc8d549e-9602-4d8c-8b7e-b5c89d42c7e3",
      "name": "Get a file",
      "webhookId": "c5aa4a0c-82fa-47db-8850-8000426ce0ed",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Globals').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c8e95caa-c12e-4b3f-b343-25687925b650"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File Exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bfd27d6-7a25-49ae-9621-8dd0d91284ad",
                    "leftValue": "={{ $('Globals').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File Not Exist"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        -256
      ],
      "id": "d9371ad4-04fa-49b3-8b84-716d683cc67f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U05BZ940QSG",
          "mode": "list",
          "cachedResultName": "devlomatix"
        },
        "text": "=Backup done at {{$now.format('dd-MM-yyyy T')}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -784,
        -400
      ],
      "id": "87e4d57d-b01f-445a-8911-fb9d0e967c7c",
      "name": "Send Success Message",
      "webhookId": "960e06b8-d81d-4782-914f-895cee4ca540",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SMr468wP222oOF1a",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U05BZ940QSG",
          "mode": "list",
          "cachedResultName": "devlomatix"
        },
        "text": "={{ $json.Message }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        624,
        -16
      ],
      "id": "d353934d-9915-4f91-a91c-3ab86586541d",
      "name": "Send Error Message",
      "webhookId": "960e06b8-d81d-4782-914f-895cee4ca540",
      "credentials": {
        "slackOAuth2Api": {
          "id": "SMr468wP222oOF1a",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.user }}"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Globals').item.json.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $('Globals').item.json['folder name'] }}/{{ $('Loop Over Items').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Loop Over Items').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        -48
      ],
      "id": "4a6a2127-8e00-443b-9ade-de6f0afba659",
      "name": "Edit a file",
      "webhookId": "4405b92c-f785-4093-b8ce-6baf488ee9e5",
      "credentials": {
        "githubApi": {
          "id": "bbmcSokLK6Dm4sdi",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T06:42:16.183Z",
      "updatedAt": "2025-09-22T06:42:16.183Z",
      "role": "workflow:owner",
      "workflowId": "uZ9rkYHF2KhqM82X",
      "projectId": "Jhxl57jBaP5qwf3G"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-24T06:53:01.000Z",
  "versionId": "fe327bb1-601b-4f6c-bd97-161b0daae90a"
}