Backup-08-09-2025/My workflow 2.json
{"createdAt":"2025-09-07T11:55:41.777Z","updatedAt":"2025-09-07T12:05:51.000Z","id":"JZuOSCIESj11DSvl","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1856,0],"id":"ba63aa8c-858e-48c5-90ea-65d8cea6d735","name":"When chat message received","webhookId":"9214bf30-5d03-453d-9fbd-7cbc7d2e954c"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1648,0],"id":"cc0551b9-702d-4db9-9eec-4d283e0622bf","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-image-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1792,208],"id":"14a39c8a-dd1c-48c3-8acd-db34ac3cb598","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1648,208],"id":"86d7432a-6120-4b3c-9475-d698dd712c98","name":"Simple Memory"},{"parameters":{"assignments":{"assignments":[{"id":"5fdf7161-1a04-4909-a879-55f905911af6","name":"data","value":"={{ $json.output[1].inlineData.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,0],"id":"6e862544-d2e7-4dce-9737-d6956d314020","name":"Edit Fields"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/imagen-4.0-generate-preview-06-06","mode":"list","cachedResultName":"models/imagen-4.0-generate-preview-06-06"},"prompt":"cat eating banana","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1088,0],"id":"4babc4c3-9f01-475e-8655-3f902713d087","name":"Generate an image","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Generate an image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24a2f3b5-7ddd-4c38-bbe5-bf949305e9ad","triggerCount":0,"shared":[{"createdAt":"2025-09-07T11:55:41.783Z","updatedAt":"2025-09-07T11:55:41.783Z","role":"workflow:owner","workflowId":"JZuOSCIESj11DSvl","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}