Backup-08-09-2025/My workflow 3.json
{"createdAt":"2025-09-08T10:20:39.037Z","updatedAt":"2025-09-08T10:29:59.000Z","id":"lDNffmYtORO3KTHj","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1680,-80],"id":"cffba127-7be2-4b78-b2cc-df767c579f94","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1472,-80],"id":"61da18da-8452-4d71-b995-4049b181b438","name":"Get many messages","webhookId":"d69227e2-ce6f-4aa5-87c8-50a6fe2829a9","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1264,-80],"id":"99ef617f-8216-46dc-a332-15a68b031660","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac4b4dff-0b84-4abb-8f19-815806a9ea03","leftValue":"={{ $json.From }}","rightValue":"support@github.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-976,0],"id":"a139a8eb-8cdd-4151-841e-f42918a545e8","name":"Filter"},{"parameters":{"operation":"delete","messageId":"={{ $('Get many messages').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-704,0],"id":"9f51d042-9b4b-4a25-afb9-5cadbca7c8b9","name":"Delete a message","webhookId":"33c2d17c-935d-4004-9bb4-22bfb8c6ed92","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Delete a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acbc81e6-65f8-47ae-9406-6e683b515a8f","triggerCount":0,"shared":[{"createdAt":"2025-09-08T10:20:39.043Z","updatedAt":"2025-09-08T10:20:39.043Z","role":"workflow:owner","workflowId":"lDNffmYtORO3KTHj","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}