Backup-08-09-2025/Telegram calendar agent.json
{"createdAt":"2025-09-07T12:55:16.896Z","updatedAt":"2025-09-08T05:24:32.000Z","id":"nJ0oEf0kZC0MUgCA","name":"Telegram calendar agent","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1920,-136],"id":"11fb1b87-631a-4e36-abd9-b9a1c2ebbe55","name":"Telegram Trigger","webhookId":"6bde427b-bf74-4b6f-8526-5e1f2732a4c5","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=## AI Agent Instructions\nYou are an **AI assistant** designed to manage calendar\nevents for the user.\nYour capabilities include:\n- **Creating events**\n- **Retrieving events**\n- **Updating events**\n- **Deleting events**\n### Important Guidelines:\n1. **Always provide a name for the event** when asked to\ncreate one.\n2. **To update or delete an event,\nyou must first\nretrieve the event ID** using the \"get event\" tool.\n- Without the ID, you cannot successfully edit or\ndelete events.\n3. Current time reference: {{ $now }}\n\n### User Input:{{ $json.message.text }}{{ $json.content.parts[0].text }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-960,48],"id":"9c53c421-dfa6-4fbd-9ff9-ba2f5b529859","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1280,288],"id":"7fc1a5c6-d95b-44d7-b10e-0b5b9e15af32","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","collectionName":"telegram_calendar_bot","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[-1152,288],"id":"ae517111-1796-44fc-9375-0ef471fd9fc0","name":"MongoDB Chat Memory","credentials":{"mongoDb":{"id":"Cf8NIOmaFno1gkSu","name":"MongoDB account"}}},{"parameters":{"calendar":{"__rl":true,"value":"amitvishwa19@gmail.com","mode":"list","cachedResultName":"amitvishwa19@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":false,"additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1024,288],"id":"506706f5-0aa2-464b-9bfc-85da053a2c19","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"pgfpLFDVa6NHtE8z","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"amitvishwa19@gmail.com","mode":"list","cachedResultName":"amitvishwa19@gmail.com"},"limit":10,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"fields":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fields', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-896,288],"id":"c73fe697-3863-40d3-b1b2-142ed8831325","name":"Get Event","credentials":{"googleCalendarOAuth2Api":{"id":"pgfpLFDVa6NHtE8z","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"amitvishwa19@gmail.com","mode":"list","cachedResultName":"amitvishwa19@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-768,288],"id":"9e620cf3-aa3b-41c4-a395-22fe11019ac9","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"pgfpLFDVa6NHtE8z","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"amitvishwa19@gmail.com","mode":"list","cachedResultName":"amitvishwa19@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":false,"updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-640,288],"id":"70d434f1-c903-4a12-b3ad-12d433a27fbe","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"pgfpLFDVa6NHtE8z","name":"Google Calendar account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,-136],"id":"70e9fc80-c868-4eb8-b783-4b4339f16c47","name":"Send a text message","webhookId":"36d3e4bf-2649-4f4d-8fdf-93c9dabe2374","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[-1920,192],"id":"f979faf6-33ae-474d-b77e-cd0bb08dc604","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"yojVzHCsLGRvLYBw","name":"Mistral Cloud account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1696,-136],"id":"c0e34884-0041-4ad8-b291-e5e7c30c36e7","name":"Send a chat action","webhookId":"2d66907c-d161-4af2-8a43-6bc689e94514","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"460ab2d6-7c8c-4e63-9ec2-acb70d993b79","leftValue":"={{ $('Telegram Trigger').item.json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7664a927-5fcc-463b-81b3-10cc0db1f65c","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1472,-136],"id":"4b2c0dda-c46e-4512-8022-15ef6b9f1d97","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,-208],"id":"20dc1b6f-3dbc-41f6-9129-07e15024a077","name":"Get a file","webhookId":"6193a905-ff15-4ba0-8551-e47cad8cd8b6","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-1.5-flash","mode":"list","cachedResultName":"models/gemini-1.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-1024,-208],"id":"c19e0370-0c37-43ae-b366-0299e7d9a41e","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a chat action","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MongoDB Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Create Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[]]},"Send a chat action":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a0ed4e0-90bf-4760-99fe-0521f1ead1c0","triggerCount":1,"shared":[{"createdAt":"2025-09-07T12:55:16.900Z","updatedAt":"2025-09-07T12:55:16.900Z","role":"workflow:owner","workflowId":"nJ0oEf0kZC0MUgCA","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}