Backup-08-09-2025/Trigger Workflow Backup.json
{"createdAt":"2025-09-08T09:10:30.298Z","updatedAt":"2025-09-08T09:11:01.000Z","id":"12grDycaz5bqGGEu","name":"Trigger Workflow Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2432,-176],"id":"c3c50c0b-2791-4ba8-bd35-ec79ecce2d78","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2048,-176],"id":"838d9992-6c3c-441c-a68b-13b76c637c68","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,-160],"id":"86d24916-0e0f-4a20-9652-e3c0d4d6c736","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2256,-176],"id":"72a66477-5aef-4220-8ee8-e6197faf3e80","name":"Get Workflows","credentials":{"n8nApi":{"id":"VeOLbXqWZBB21vei","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1616,-160],"id":"0628d937-71ce-4129-90b5-fe5ded0ebaa9","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1376,16],"id":"9d2bbc73-abbc-4642-9193-97782e48c5ae","name":"Create a file","webhookId":"4e992601-e603-45e8-b796-0738aeb4ebdf","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o","mode":"list","cachedResultName":"N8N daily Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1152,80],"id":"55e8ac16-11d9-4b63-be84-21da9a8b67e7","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tQLdpHICuTT8GRqg","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2688,-176],"id":"077136f4-86ca-4cf7-8a67-bccf96b58381","name":"When clicking ‘Execute workflow’"}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Prepare file","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b8ff4be-b0ac-48d4-82fe-ff7465491fd4","triggerCount":1,"shared":[{"createdAt":"2025-09-08T09:10:30.306Z","updatedAt":"2025-09-08T09:10:30.306Z","role":"workflow:owner","workflowId":"12grDycaz5bqGGEu","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}