Backup-08-09-2025/Workflow Backup.json
{"createdAt":"2025-09-08T05:24:57.487Z","updatedAt":"2025-09-08T08:55:28.000Z","id":"fXBAskAcZZA2CKje","name":"Workflow Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5e1d439e-ed4c-4902-8ae4-317e60c8f9cc","name":"folder name","value":"=Backup-{{ $now.format('dd-MM-yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2432,-176],"id":"7157775c-0b67-42ae-9562-1e22d28198b5","name":"Folder"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2048,-176],"id":"41ac4751-6484-4ec7-8027-31a725414d29","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"2080f4e2-9679-440c-af3a-653129b34fd1","name":"nodes","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"baa4dbfa-caff-4a4b-879a-3cd915c60cdd","name":"filename","value":"={{ $json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1808,-160],"id":"2e656cc7-c524-4107-a941-1bb8e13e3807","name":"Prepare file"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-2256,-176],"id":"cf20a252-91ff-450a-8e24-3f8c26006d49","name":"Get Workflows","credentials":{"n8nApi":{"id":"VeOLbXqWZBB21vei","name":"n8n account"}}},{"parameters":{"operation":"toText","sourceProperty":"nodes","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1616,-160],"id":"5b7aca73-ca5a-415c-b051-aefefd0e01cd","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/{{ $('Prepare file').item.json.filename }}","binaryData":true,"commitMessage":"={{ $('Folder').item.json['folder name'] }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1376,16],"id":"a0621f5a-af6d-484c-89e8-fbc9b6ccc867","name":"Create a file","webhookId":"f28251e0-2110-42cd-9d74-6e14576448b1","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"folder","name":"={{ $('Folder').item.json['folder name'] }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1DhyYx69vwvXnvlV_yLnCtIij7lyE7LiC","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-912,-256],"id":"84b0426a-1bc8-4121-80ae-1ca22cd27e94","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"nBQxMdle4UD4ashY","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Prepare file').item.json.filename }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"https://drive.google.com/drive/u/0/folders/1DhyYx69vwvXnvlV_yLnCtIij7lyE7LiC","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-992,-80],"id":"1fe55bfc-cf12-4c13-b3cb-6c6a96939ed7","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"nBQxMdle4UD4ashY","name":"Google Drive account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/README.md","binaryData":"={{ false }}","fileContent":"=# N8N Workflow Backup - {{ $('Folder').item.json['folder name'] }}\nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata'). format(*dd-MM-yyyy T' }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n*Automatically generated by NSN Backup Workflow*","commitMessage":"n8n workflow saved"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1024,-432],"id":"7e1c3ea2-8dd0-46db-9e4c-4b813f4ebeb5","name":"Create a file1","webhookId":"e16d7536-c0ae-4415-91f2-0c136916bf29","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o","mode":"list","cachedResultName":"N8N daily Backup Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dPbTgNqAjyH210tSsKzPiH8zBFHAvufwOtUeyVYZD6o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date Time":"={{$now.format('dd-MM-yyyy T')}}","Folder Name":"={{ $('Folder').item.json['folder name'] }}","File Name":"={{ $('Prepare file').item.json.filename }}","Error Message":"={{ $json.error }}"},"matchingColumns":[],"schema":[{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Folder Name","displayName":"Folder Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1152,80],"id":"f84c9b5c-5514-4396-b9d5-c576b972ddf2","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"tQLdpHICuTT8GRqg","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2640,-368],"id":"b69f9a7e-66dc-4f14-8dd8-ae4bc1cdf232","name":"Schedule Trigger","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2640,-160],"id":"fef7d76c-d191-40cc-8660-53c024a84668","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"=README.md","fileContent":"=# N8N Workflow Backup - {{ $('Folder').item.json['folder name'] }} \n\n\nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}  \n\n## Backup Details - \nBackup Time: {{ $now.setZone('Asia/Kolkata'). format('dd-MM-yyyy T' }} - Total Workflows: {{ $('Get many workflows').all().length }}  \n\n## Files Each workflow is saved as a separate JSON file with the format  \n\n----------- \n\n* Automatically generated by NSN Backup Workflow *","commitMessage":"sdfsfsdfsf"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1504,-448],"id":"00412b85-18e2-4654-801f-49e4d00bc3d6","name":"Create a file2","webhookId":"ee672d5c-2dff-4611-85b4-d865ce6ac1b2","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"amitvishwa19","mode":"name"},"repository":{"__rl":true,"value":"n8n_backup","mode":"list","cachedResultName":"n8n_backup","cachedResultUrl":"https://github.com/amitvishwa19/n8n_backup"},"filePath":"={{ $('Folder').item.json['folder name'] }}/README.md","fileContent":"=# N8N Workflow Backup - {{ $('Folder').item.json['folder name'] }}\nThis folder contains the backup of all N8N workflows as of {{$now.setZone ('Asia/Kolkata').format('dd-MM-yyyy') }}\n\n## Backup Details\n- Backup Time: {{ $now.setZone('Asia/Kolkata'). format('dd-MM-yyyy T' }}\n- Total Workflows: {{ $('Get many workflows').all().length }}\n\n## Files\nEach workflow is saved as a separate JSON file with the format\n\n-----------\n*Automatically generated by NSN Backup Workflow*","commitMessage":"Backup  completed"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1856,-432],"id":"060a6a73-1a30-4954-9b3c-cf4689315e74","name":"Edit a file","webhookId":"0f65bb62-2599-44df-b780-286eacd180a9","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}},"disabled":true}],"connections":{"Folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Create a file2","type":"main","index":0}],[{"node":"Prepare file","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Prepare file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create folder":{"main":[[]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f01edfc8-ed5b-4d93-a18d-c614f51b1553","triggerCount":0,"shared":[{"createdAt":"2025-09-08T05:24:57.497Z","updatedAt":"2025-09-08T05:24:57.497Z","role":"workflow:owner","workflowId":"fXBAskAcZZA2CKje","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}