Backup-23-09-2025/Insta Post.json
{"createdAt":"2025-09-22T11:21:25.040Z","updatedAt":"2025-09-22T12:51:30.000Z","id":"wfsWyLc1DYITjPHm","name":"Insta Post","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Insta Post","formFields":{"values":[{"fieldLabel":"Image","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-960,-368],"id":"66e12033-c3c7-4731-8e1b-ee2eabbb8a12","name":"On form submission","webhookId":"9325af0f-f5ef-45dd-a9f6-84e8dbad02c7"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"17841476586070758","edge":"media","options":{}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-96,-128],"id":"5a18eb91-3111-4b7c-b60f-e248a1834f8b","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"3f5R7zsr5etw6NBb","name":"Facebook Graph account"}}},{"parameters":{"assignments":{"assignments":[{"id":"843412ed-4469-49ab-9d23-ee3d22d00855","name":"node","value":"17841476586070758","type":"string"},{"id":"3466d2bf-2a76-4509-b3d6-3a10aaab350b","name":"image_url","value":"https://drive.google.com/file/d/1rU-Wl2XRftMHKU88za6k8e1jM9h7p4Js/view","type":"string"},{"id":"b76d5bcb-6b7f-41de-9e73-527e79f1135e","name":"ai Image","value":"Generate a image boy running with dog","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-176],"id":"6d26ed6b-002d-45c2-bced-04cca22974ca","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $json.node }}/photo","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"test post"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-368],"id":"a2aa1d94-25a8-4d1e-8f8b-222db72eb065","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"KVV8iEIhmB1MbJgl","name":"devlomatix auth header"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-960,-176],"id":"ee51e91a-557a-4c3d-9611-83c2604fb304","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"models/gemini-2.0-flash-exp-image-generation","mode":"list","cachedResultName":"models/gemini-2.0-flash-exp-image-generation"},"prompt":"={{ $json['ai Image'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-528,-176],"id":"822307a3-edeb-4d8a-be95-46f62dabc6c2","name":"Generate an image","credentials":{"googlePalmApi":{"id":"y8LeZoihkeXRP0IK","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"On form submission":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f462af1-ca6a-4a67-a5ac-d165af98a83e","triggerCount":0,"shared":[{"createdAt":"2025-09-22T11:21:25.049Z","updatedAt":"2025-09-22T11:21:25.049Z","role":"workflow:owner","workflowId":"wfsWyLc1DYITjPHm","projectId":"Jhxl57jBaP5qwf3G"}],"tags":[]}