Backup-09-09-2025/Backup your workflows to GitHub.json
{"createdAt":"2025-09-09T04:42:59.253Z","updatedAt":"2025-09-09T05:23:10.000Z","id":"sRCHRl80ZTSz10hp","name":"Backup your workflows to GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"a132fc4c-b651-4ca1-8c36-c925188835db","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[208,272],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"afaf95c7-5f2b-4ae2-a7de-8730f839d79f","name":"n8n","type":"n8n-nodes-base.n8n","position":[464,368],"typeVersion":1,"credentials":{"n8nApi":{"id":"VeOLbXqWZBB21vei","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"e582f9cb-10e0-44c5-ab9b-b5e20aa49ced","name":"Return","type":"n8n-nodes-base.set","position":[2048,944],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"3d0b2d17-0e05-4139-b99c-e1cb862f2f9b","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1152,816],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"9dcdd75d-671a-4a85-8618-2fbbd8158a86","name":"If file too large","type":"n8n-nodes-base.if","position":[944,848],"typeVersion":2},{"parameters":{},"id":"1b6153ae-797a-4e3d-80c6-01467809b9ec","name":"Merge Items","type":"n8n-nodes-base.merge","position":[944,1104],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"edba838c-2d9d-45e9-b4f7-340209dfec8d","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1152,1104],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"4f4193f2-bb76-4af7-8a6a-c15e29732208","name":"Check Status","type":"n8n-nodes-base.switch","position":[1360,1104],"typeVersion":1},{"parameters":{},"id":"1c31cc43-48a3-4716-82a8-6a920662c0ed","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1584,944],"typeVersion":1},{"parameters":{},"id":"c24abb49-6a5e-41db-9e32-0efd682bb440","name":"File is different","type":"n8n-nodes-base.noOp","position":[1584,1104],"typeVersion":1},{"parameters":{},"id":"f2ec4b61-8193-49e4-829b-e42bcaafef08","name":"File is new","type":"n8n-nodes-base.noOp","position":[1584,1264],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"af0d0e28-5ed7-4ab8-b1a4-e78567cdc747","name":"Create new file","type":"n8n-nodes-base.github","position":[1808,1264],"webhookId":"e5e4ce8b-74a3-4b94-83ca-351edc280faf","typeVersion":1,"credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"f75605ee-10e8-4d45-b6c6-af2eb9b87a5b","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1808,1088],"webhookId":"a57e71de-4960-4d25-a59f-1a9e2e96aff5","typeVersion":1,"credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"124e721b-6eac-476f-aa6d-edfe0dc6afa1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[672,368],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"132608d5-dc5e-4a11-9955-331b482fe442","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[208,464],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"0dfdc6cc-616e-447a-b1cb-45f116894509","name":"Get file data","type":"n8n-nodes-base.github","position":[752,848],"webhookId":"743111c3-2c21-4658-8097-a9fe966f43d2","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"amitvishwa19"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"workflows/"}]},"options":{}},"id":"351f9282-202a-4984-89b3-020c981b309f","name":"Globals","type":"n8n-nodes-base.set","position":[528,1008],"typeVersion":3.4},{"parameters":{"inputSource":"passthrough"},"id":"72616fc1-1c21-4f17-862c-2838636437ec","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[240,1120],"typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"id":"9496f6d1-1fcb-4b31-9a80-8f0c15c426f8","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[880,368],"typeVersion":1.2}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Globals","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2652"},"pinData":{},"versionId":"d3c3b795-dbcc-4f24-a3ca-3e96011f8d39","triggerCount":0,"shared":[{"createdAt":"2025-09-09T04:42:59.259Z","updatedAt":"2025-09-09T04:42:59.259Z","role":"workflow:owner","workflowId":"sRCHRl80ZTSz10hp","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}