Backup-09-09-2025/My workflow 3.json
{"createdAt":"2025-09-08T10:20:39.037Z","updatedAt":"2025-09-08T15:04:11.000Z","id":"lDNffmYtORO3KTHj","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2000,-80],"id":"cffba127-7be2-4b78-b2cc-df767c579f94","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-528,80],"id":"99ef617f-8216-46dc-a332-15a68b031660","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac4b4dff-0b84-4abb-8f19-815806a9ea03","leftValue":"={{ $json.From }}","rightValue":"ICICI Bank <information@custcomm.icicibank.com>","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-240,160],"id":"a139a8eb-8cdd-4151-841e-f42918a545e8","name":"Filter"},{"parameters":{"operation":"delete","messageId":"={{ $('Loop Over Items').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[32,160],"id":"9f51d042-9b4b-4a25-afb9-5cadbca7c8b9","name":"Delete a message","webhookId":"33c2d17c-935d-4004-9bb4-22bfb8c6ed92","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-800,-80],"id":"46a93adb-73c0-4603-8ce7-1849f287b98d","name":"Delete a message1","webhookId":"20203847-de71-48ae-bce3-5c1581bdf994","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1792,-80],"id":"61da18da-8452-4d71-b995-4049b181b438","name":"All Mails","webhookId":"d69227e2-ce6f-4aa5-87c8-50a6fe2829a9","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.threadId }}","simple":false,"options":{"downloadAttachments":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1584,-80],"id":"52bac078-e4f1-428c-990a-138783c7068c","name":"Get a message","webhookId":"2e0efebc-3df6-489d-9bf6-7bc4fb08693e","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.threadId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1376,-80],"id":"ff34b11c-02c4-4a58-9efe-59b7ec1b977b","name":"Mark a message as read","webhookId":"6e23a13c-6ec4-40bc-835e-122f46fa02a7","credentials":{"gmailOAuth2":{"id":"oe55uUcedjr5p9zX","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=delete all the message from \"info@naukri.com\"  {{ $('Get a message').item.json.from.value[0].address }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1168,-80],"id":"af91f82a-4071-4996-9157-af7efd3fecfa","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1408,256],"id":"49121f62-1e25-4071-9b28-6e8179619b2d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"5Zj80nWMbhdkhxn2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"collectionName":"n8n_gmail_bot"},"type":"@n8n/n8n-nodes-langchain.memoryMongoDbChat","typeVersion":1,"position":[-1248,256],"id":"e5d9038f-9798-4ea3-86f8-0f43941a4a66","name":"MongoDB Chat Memory","credentials":{"mongoDb":{"id":"Cf8NIOmaFno1gkSu","name":"MongoDB account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"All Mails","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a message":{"main":[[]]},"All Mails":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Mark a message as read","type":"main","index":0}]]},"Mark a message as read":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MongoDB Chat Memory":{"ai_memory":[[]]},"AI Agent":{"main":[[{"node":"Delete a message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3333e33a-0b3d-477f-b338-63adc2bd047d","triggerCount":0,"shared":[{"createdAt":"2025-09-08T10:20:39.043Z","updatedAt":"2025-09-08T10:20:39.043Z","role":"workflow:owner","workflowId":"lDNffmYtORO3KTHj","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}