Backup-09-09-2025/N8N restore.json
{"createdAt":"2025-09-08T15:05:32.791Z","updatedAt":"2025-09-08T15:06:24.000Z","id":"XcTyawXqCDBxNsjg","name":"N8N restore","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1deed159-af1c-496d-9cd3-62797a18fc0b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[192,48],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"BeyondspaceStudio"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-backup"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"workflows"}]},"options":{}},"id":"4432c408-3d93-4662-b0c5-fa9a44ac2b62","name":"Globals","type":"n8n-nodes-base.set","position":[384,48],"typeVersion":3.4},{"parameters":{"content":"## Restore from GitHub \nThis workflow will restore all instance workflows from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n","height":420,"width":320},"id":"2bc45538-a9e2-44ec-801a-339e71f258e3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-240,-80],"typeVersion":1},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"4bf0e4e1-450a-4171-8034-20ef3fc7ff5b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[320,-80],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"5ecaeb33-4489-499d-80bf-1ecff554dd2f","name":"Get all files in given path","type":"n8n-nodes-base.httpRequest","position":[224,368],"typeVersion":4.2,"credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"path","options":{}},"id":"e57ada35-bdd2-4966-9cd6-dc6372a06584","name":"Split the result","type":"n8n-nodes-base.splitOut","position":[464,368],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"BeyondspaceStudio"},"repository":{"__rl":true,"mode":"name","value":"n8n-backup"},"filePath":"={{ $('Get all files in given path').item.json.path }}","additionalParameters":{}},"id":"a40d7e64-cda2-490f-aa01-34243da0752e","name":"Get file content from GitHub","type":"n8n-nodes-base.github","position":[688,368],"typeVersion":1,"alwaysOutputData":true,"webhookId":"2da81204-5daf-476a-abc3-dc7a9924dbae","credentials":{"githubApi":{"id":"ep0tN9S6DnQS5et2","name":"GitHub account"}}},{"parameters":{"operation":"fromJson","options":{}},"id":"acb2746c-1b8b-4cf6-b370-e5c96f159129","name":"Convert files to JSON","type":"n8n-nodes-base.extractFromFile","position":[912,368],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"id":"3b5eb2d4-e605-40bf-b913-f1becf588015","name":"Restore n8n Workflows","type":"n8n-nodes-base.n8n","position":[1120,368],"typeVersion":1,"credentials":{"n8nApi":{"id":"VeOLbXqWZBB21vei","name":"n8n account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get all files in given path","type":"main","index":0}]]},"Get all files in given path":{"main":[[{"node":"Split the result","type":"main","index":0}]]},"Split the result":{"main":[[{"node":"Get file content from GitHub","type":"main","index":0}]]},"Get file content from GitHub":{"main":[[{"node":"Convert files to JSON","type":"main","index":0}]]},"Convert files to JSON":{"main":[[{"node":"Restore n8n Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"15dc92d7-4590-4f7d-9735-1f91a10d202c","triggerCount":0,"shared":[{"createdAt":"2025-09-08T15:05:32.795Z","updatedAt":"2025-09-08T15:05:32.795Z","role":"workflow:owner","workflowId":"XcTyawXqCDBxNsjg","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}