Backup-09-09-2025/Telegram bot.json
{"createdAt":"2025-09-08T09:11:19.620Z","updatedAt":"2025-09-08T10:09:57.000Z","id":"BTZVbQPgsfQPg6lK","name":"Telegram bot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-784,-16],"id":"aa308fec-c3c2-4d40-832d-2f1fef2af149","name":"Telegram Trigger","webhookId":"d7604eed-414a-414e-9068-bba6bf8e63b3","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"12grDycaz5bqGGEu","mode":"list","cachedResultName":"Trigger Workflow Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-576,-16],"id":"c75275ff-7582-44ef-bbb4-4aa22dea97ca","name":"Execute Workflow"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=Backup of {{ $json['File Name'] }} completed successfully @ {{ $json['Date Time'] }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-368,-16],"id":"da2560eb-9458-499d-bd36-fd9527267d17","name":"Send a text message","webhookId":"67010f71-3b2d-48a9-b025-1644a3655080","credentials":{"telegramApi":{"id":"bkCQ2HzyBvdLOYLK","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c430d0e6-f81c-42b3-9260-6e3df4d15a90","triggerCount":1,"shared":[{"createdAt":"2025-09-08T09:11:19.625Z","updatedAt":"2025-09-08T09:11:19.625Z","role":"workflow:owner","workflowId":"BTZVbQPgsfQPg6lK","projectId":"LcKquKU3RqmibYpm"}],"tags":[]}